body {
background-color: #f2f2f2;


}
h1 {
	font-family: arial, san-serif;
	font-weight: bold;
	text-decoration: uppercase;
	font-size: 40 px;
	font-color: #2a2a2a ;
	text-align: center;
}

h2 {
	font-family: arial, san-serif;
	font-weight: bold;
	text-decoration: uppercase;
	font-size: 30 px;
	font-color: #2a2a2a ;
	text-align: center;
}

p {
	font-family: arial, san-serif;
	font-size: 13 px;
	font-color: #2a2a2a;
	text-align: center;
}

ul{}

li{}

img{
background-image: cover;	
}


#slogan {
	font-style: italic;
	font-weight: bold;
	text-align:center;
}

}
a {
	text-decoration: none;
}

background {
	color: #;
}