body {
background-color: #;
background-size: cover;

}
h1 {
	font-family: montserrat, san-serif;
	font-weight: bold;
	text-decoration: uppercase;
	font-size: 40 px;
	font-color: #2a2a2a ;
	text-align: center;
}

h2 {
	font-family: montserrat, san-serif;
	font-weight: bold;
	text-decoration: uppercase;
	font-size: 30 px;
	font-color: #2a2a2a ;
	text-align: center;
}

p {
	font-family: open sans, san-serif;
	font-size: 13 px;
	font-color: #2a2a2a;
	text-align: center;
}

ul{}

li{}

img{}


#slogan {
	font-style: italic;
	font-weight: bold;
	text-align:center;
}

}
a {
	text-decoration: none;
}

background {
	color: #;
}